:root {
    --clr-darker-shade: #2d2c2a;
    --clr-darkergreener-shade: #343434;
    --clr-greener-shade: #4b5447;
    --clr-cremer-shade: #bcbbad;
    --clr-gentext-shade: #fffdfa;

    --ff-sub: 'DM Serif Text', serif;
    --ff-main: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--ff-sub);
    font-weight: 900;
    line-height: 1;
}

img {
    display: block;
    max-width: 100%;
}

h2,
h3,
p {
    margin-bottom: 1em;
}

.text-center {
    text-align: center;
}

header,
section {
    padding: 4rem 0;
}

@media (min-width: 40em) {
    header,
    section {
    padding: 7rem 0;
}
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }
}

.container--narrow {
    max-width: 40rem;
}

.bg-dark {
    color: var(--clr-cremer-shade);
    background-color: var(--clr-darker-shade);
}

header p {
    color: var(--clr-gentext-shade);
}

.bg-darkergreen {
    color: var(--clr-gentext-shade);
    background-color: var(--clr-darkergreener-shade);
}

.bg-greener {
    color: var(--clr-gentext-shade);
    background-color: var(--clr-greener-shade);
}

.bg-darkergreen h2,
.bg-greener h2 {
    color: var(--clr-cremer-shade);
}