:root {
    --clr-darker-shade: #2d2c2a;
    --clr-darkergreener-shade: #343434;
    --clr-greener-shade: #4b5447;
    --clr-cremer-shade: #bcbbad;
    --clr-gentext-shade: #fffdfa;

    --ff-sub: 'DM Serif Text', serif;
    --ff-main: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-main);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--ff-sub);
    font-weight: 900;
    line-height: 1;
}

section {
    padding: 3rem 0;
}

.bg-dark {
    color: var(--clr-cremer-shade);
    background-color: var(--clr-darker-shade);
}

.bg-darkergreen {
    color: var(--clr-gentext-shade);
    background-color: var(--clr-darkergreener-shade);
}

.bg-greener {
    color: var(--clr-gentext-shade);
    background-color: var(--clr-greener-shade);
}

.bg-darkergreen h2,
.bg-greener h2 {
    color: var(--clr-cremer-shade);
}